@import "./styles/mixins";

.loader {
  @include response-image;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 65px;
  height: 158px;
  margin: 0 auto;
}
